<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/style/errors/500.css">
  <title>500 Server Error</title>
</head>
<body>
   <div class="error-page">
    <div class="overlay">
      <h2>Server Error</h2>
      <p>Sorry we fix it as soon as possible</p>
      <a href="/" class="btn">Go Back</a>
    </div>
  </div>
</body>
</html>
