<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/web/static/style/home.css" />
    <title>Talk</title>
    {% comment %} Shapka {% endcomment %}
 <header class="topbar">
  <div class="topbar__wrap">
    <!-- Left -->
    <a href="#" class="brand">
      <img src="/web/static/img/talk.png" alt="Talk logo" class="brand__logo">
    </a>

    <!-- Center -->
    <form class="search" action="/search">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input name="q" type="search" placeholder="Search posts..." />
    </form>

    <!-- Right -->
    <nav class="actions">
      <div class="dropdown">
        <button class="btn btn-ghost">
          Category <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="menu">
          <a href="/">CSS</a>
          <a href="/?category=design">Design</a>
          <a href="/?category=js">JavaScript</a>
        </div>
      </div>

      <button class="iconbtn" aria-label="Сообщения">
        <i class="fa-regular fa-comment-dots"></i>
        <span class="badge">3</span>
      </button>

      <button class="iconbtn" aria-label="Уведомления">
        <i class="fa-regular fa-bell"></i>
        <span class="badge">5</span>
      </button>

      <div class="avatar dropdown">
        <button class="avatar__btn">
          <img src="/web/static/img/profile.jpg" alt="You"/>
          <span>You</span>
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="menu menu--right">
          <a href="/profile">Profile</a>
          <a href="/profile/posts">My posts</a>
          <a href="/settings">Settings</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </nav>
  </div>
  

  <div class = "filterbar">
  <button class="filter">
    <span class="icon"><i class="fa-solid fa-briefcase"></i> All</span>
  </button>
  <button class="filter">
    <span class="icon"><i class="fa-regular fa-clock"></i> New</span>
  </button>
  <button class="filter">
    <span class="icon"><i class="fa-solid fa-arrow-trend-up"></i> Top</span>
  </button>
  <button class="filter">
    <span class="icon"><i class="fa-regular fa-star"></i> My</span>
  </button>
  <button class="filter">
    <span class="icon"><i class="fa-regular fa-heart"></i> Liked</span>
  </button>      
</div>
  

  <div class = "main_content" style = "width: 100%; height: 100%;">
    <div class = "block" style ="float: left;width: 30%" >
      <div class = ""> 
asdad
      </div>

    </div> 
    <div class = "block" style ="float: right;width: 70%" >
      <div> 
asdasd
      </div>
    </div> 




  </div>
  

</header>
    <script src="/web/static/js/home.js"></script>
  </body>
</html>
